* {
    /* text-align: center; */
}
.one {
    background: green;
}
.two {
    background: blue;
}
.three {
    background: red;
}
.four {
    background: yellow;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}