body {
}
.container {
    display: flex;
    height: 200px;
}
img {
    height: 200px;
    opacity: 0.5;
    /* filter: saturate(1000%) contrast(1000%); */
    position: relative;
}
.desc {
    width: 600px;
    display: inline-block;
    background: rgb(221, 117, 221);
}